body {
    font-family:"Courier New";
    background-color: #000935 ;
}


#container{
	margin-left: 100px;
	margin-right: 150px;
	position: relative;
	color: #b6b8b6;
	overflow: hidden;
}


a:link {
    color: grey;
    background-color: transparent;
}

a:visited {
    color: #58c144;
    background-color: transparent;
}

a:hover {
    color: red;
    background-color: transparent;
}

a:active {
    color: yellow;
    background-color: transparent;
}